:root {
  --content-max-width: 1024px;
}

.vp-doc div[class*="language-"],
.vp-block {
  margin: 16px 0px;
}

.header_redline {
  display: block;
  clear: both;
  width: 100%;
  height: 25px;
  overflow: hidden;
  background-color: #e60013;
}
